.title-header{
  font-size: 36px;
  font-weight: bold;
}

.head-title {
  font-size: 24px;
  font-weight: 600;
}

.parcel_list {
  background-color: transparent;
}

.parcel_card_container {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid @borders;
  color: @theme_fg_color;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  background: @theme_base_color;
}

.parcel_card_name {
  font-weight:600;
  font-size:16px;
  padding-bottom: 3px;
}

.parcel_card_info {
  font-size:14px;
}

.loading-progress trough {
  background-color: transparent;
  border:0;
}

.new-parcel-button {
	padding: 10px;
	border-radius: 9999px;
	-gtk-outline-radius: 9999px;
}

